.social_medias span,
.social_medias a {
    display: block;
    text-align: center;
}

.social_medias span {
    text-transform: uppercase;
    color: var(--primary-font-color-dark);
    font-weight: 700;
}

.social_medias a {
    margin: 0 auto;
    margin-top: .5em;
    display: block;
    width: fit-content;
    background-color: var(--complementary-color);
    padding: .3em;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}

.social_medias a:hover {
    background-color: var(--accent-color);
}

.social_medias img {
    width: 28px;
    height: auto;
}