.cases {
    padding: var(--vertical-padding) var(--horizontal-padding);

    transform: translateY(40px);
    opacity: 0;
    animation: bottomToOrigin .6s forwards;
}

.cases h1 {
    text-align: center;
    color: var(--primary-font-color-dark);
    font-weight: 700;
}

.cases p {
    text-align: center;
    color: var(--complementary-font-color-dark);
}

.cases ul {
    margin-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

@keyframes bottomToOrigin {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (min-width: 960px) {
    .cases ul {
        justify-content: space-evenly;
        flex-direction: row;
    }
}