.lawyer_profile {
    background-image: url('../../assets/img/welcome_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mask {
    background-color: var(--primary-mask-color);
    padding: var(--vertical-padding) var(--horizontal-padding);
}

.description {
    margin-top: 10em;
    padding: 6em 0;

    transform: translateX(20px);
    opacity: 0;
    animation: rightToOrigin .3s forwards;
}

@keyframes rightToOrigin {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.description h1 {
    text-transform: uppercase;
    color: var(--primary-font-color-light);
}

.description span {
    font-family: inherit;
    color: var(--accent-color);
    font-weight: inherit;
}

.description p {
    margin-top: 1em;
    text-align: justify;
    color: var(--complementary-font-color-light);
}

.description .button {
    margin-top: 3em;
}

@media screen and (min-width: 960px) {
    .mask {
        padding: var(--vertical-padding) var(--horizontal-padding);
    }

    .description {
        padding: var(--vertical-padding) 0;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .description h1 {
        text-align: end;
        line-height: 1.5;
    }

    .description p {
        max-width: 560px;
        text-align: justify;
    }
}