.more_information {
    padding: var(--vertical-padding) var(--horizontal-padding);
}

.more_information ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

@media screen and (min-width: 960px) {
    .more_information ul {
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }
}