* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #F8F8F8;
  --supporting-color: #fff;
  --secondary-color: #082032;
  --accent-color: #FF4C29;

  --vertical-padding: 4em;
  --horizontal-padding: 12em;
}

main {
  background-color: var(--primary-color);
}

@media screen and (max-width: 960px) {
  :root {
    --vertical-padding: 1em;
    --horizontal-padding: 1em;
  }
}