* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #F8F8F8;
  --complementary-color: #082032;
  --accent-color: #FF4C29;

  --primary-mask-color: rgba(44, 57, 75, .8);

  --vertical-padding: 2em;
  --horizontal-padding: 1em;
}

main {
  background-color: var(--primary-color);
}

@media screen and (min-width: 960px) {
  :root {
    --vertical-padding: 4em;
    --horizontal-padding: 12em;
  }
}