.contact {
    background-image: url('../../assets/img/contact_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mask {
    height: 100%;
    background-color: var(--primary-mask-color);
    padding: calc(var(--vertical-padding) * 2) var(--horizontal-padding);
}

.mask h1 {
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-font-color-light);
    font-weight: 700;
}

.mask form {
    margin-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mask .group,
.mask form label {
    width: 100%;
}

.mask form input,
.mask form textarea {
    margin-top: 1em;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: .5em;
    padding: 1em;
    color: var(--primary-font-color-light);
    transition: all .3s ease;
}

.mask form input::placeholder,
.mask form textarea::placeholder {
    color: var(--complementary-font-color-light);
}

.mask form input:focus,
.mask form textarea:focus {
    border: 2px solid var(--accent-color);
}

.mask .submit_btn {
    margin-top: 2em;
}

@media screen and (min-width: 960px) {
    .mask {
        padding: calc(var(--vertical-padding) * 2) calc(var(--horizontal-padding) * 1.5);
    }

    .group {
        display: flex;
        justify-content: space-between;
        gap: 1em;
    }
}