.header_container {
    width: 100%;
    padding: 2em var(--horizontal-padding);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 160px;
    height: auto;
}

.nav {
    background-color: var(--complementary-color);
    padding: 2em 1em;
    border-radius: .5em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);

    position: absolute;
    top: 3em;
    right: 0;
    left: 0;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5em;
}

.menu a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 12px;
    border-radius: .5em;
    color: var(--primary-font-color-light);
    font-weight: 700;
    transition: all .3s ease;
}

.menu a:hover {
    color: var(--accent-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
}

.handler_menu {
    background: none;
    border: none;
    outline: none;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 0;
}

.handler_menu img {
    width: 36px;
    height: auto;
}

.hiden {
    display: none;
}

@media screen and (min-width: 1280px) {
    .logo img {
        width: 256px;
    }

    .nav {
        background-color: unset;
        padding: 0;
        border-radius: 0;
        box-shadow: none;

        position: static;
    }

    .menu {
        flex-direction: row;
        gap: 3em;
    }

    .handler_menu {
        display: none;
    }

    .hiden {
        display: block;
    }
}