.footer {
    background-color: var(--complementary-color);
    padding: var(--vertical-padding) var(--horizontal-padding);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 160px;
    height: auto;
}

.reserved {
    margin-top: 3em;
    width: 100%;
}

.reserved :last-child {
    margin-top: 1em;
    font-size: .8em;
}

.reserved p {
    margin: 0;
    text-align: center;
    color: var(--complementary-font-color-light);
}

.reserved p a {
    text-decoration: underline;
    color: inherit;
}

@media screen and (min-width: 1280px) {
    .logo img {
        width: 256px;
    }
}