.footer {
    background-color: var(--secondary-color);
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo span {
    color: var(--primary-color);
    font-size: 1.5em;
    font-weight: 700;
}

.reserved {
    margin-top: 3em;
    width: 100%;
}

.reserved :nth-child(2) {
    margin-top: .5em;
}

.reserved p {
    margin: 0;
    text-align: center;
    color: #dfdfdf;
}

.reserved p a {
    text-decoration: underline;
    color: inherit;
}