.footer {
    background-color: #334756;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    padding: 1em 2em;
}

.logo span {
    color: var(--primary-color);
    font-size: 1.5em;
    font-weight: 700;
}

.social_medias a {
    display: inline-block;
    margin: 0 .5em;
    background-color: #334756;
    padding: 5px;
    border-radius: .5em;
}

.social_medias img {
    width: 35px;
    height: auto;
}

.reserved {
    margin-top: 1em;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 2em;
}

.reserved :nth-child(2) {
    margin-top: .5em;
}

.reserved p {
    margin: 0;
    text-align: center;
    color: #dfdfdf;
}

.reserved p a {
    text-decoration: underline;
    color: inherit;
}