.experience {
    padding: var(--vertical-padding) var(--horizontal-padding);

    transform: translateY(40px);
    opacity: 0;
    animation: bottomToOrigin .6s forwards;
}

@keyframes bottomToOrigin {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.experience h1 {
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-font-color-dark);
    font-weight: 700;
}

.experience p {
    text-align: center;
    color: var(--complementary-font-color-dark);
}

.areas {
    margin-top: 2em;
    list-style: none;
}

.areas :last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 960px) {
    .areas {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 3em;
    }
}